<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["title"]</title>
    <script src="~/node_modules/sweetalert/dist/sweetalert.min.js" type="text/javascript"></script>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="App" class="container">
        @RenderBody()
    </div>

    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javaascript"></script>
</body>
</html>
